<h1>Portfolio</h1>

<h3>Search for Stocks</h3>
<div id="stock_search">
	<%= form_tag search_stocks_path, method: :get, id: "stock-search-form" do %>
		<div class="form-group row no-padding text-center col-md-12">
			<div class="col-md-10">
				<%= text_field_tag :stock, params[:stock], placeholder: "Type ticker symbol here!", autofocus: true, class: "form-control search-box input-lg" %>
			</div>
			<div class="col-md-2">
				<%= button_tag(type: :submit, class: "btn btn-lg btn-primary") do %>
					search
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<% if @stock %>
	<div class="well result">
		<strong>Symbol:</strong> <%= @stock.ticker	%>
		<strong>Name:</strong> <%= @stock.name	%>
		<strong>Price:</strong> USD <%= @stock.last_price	%>
	</div>
<% end %>